html {
  background-color: #5a6970;
  color: rgb(211, 223, 221);
}
.header-container {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr;
  height: 5em;
  padding: 0 4em 0em 4em;
  align-items: center;
}

.main-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.links-ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.links-li,
.logo {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.meme-canvas {
  justify-content: center;
}

.gallery-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  margin: 0 auto;
  max-width: 500px;
}

.image {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.1);
}

.meme-toolbar {
  display: grid;
  grid-template-rows: repeat(4, 5em);
  grid-template-columns: repeat(2, 5em);
  grid-template-areas:
    "input input"
    "color-palette  add-line"
    "increase-btn decrease-btn"
    "download-btn download-btn";
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
}

.meme-text {
  height: 3.5em;
  border-radius: 1.3em;
  border: none;
  grid-area: input; 
  grid-column: span 2; 
  width: 213px; 
}

.increase-btn {
  grid-area: increase-btn;
}

.decrease-btn {
  grid-area: decrease-btn;
}

.download-btn {
  grid-area: download-btn;
}

.color-palette {
  grid-area: color-palette;
}

.add-line {
  grid-area: add-line;
}

.button {
  cursor: pointer;
  transition: transform 0.15s ease;
}

.button:hover {
  transform: translateY(-5px);
  border-color: #1b1f2326;
  transition-duration: 0.2s;
}

.button:active {
  transform: translateY(2px);
}

.button.button-text-color {
  position: absolute;
  width: 1.3em;
  opacity: 0;
}
