html {
  background-color: #5a6970;
  color: rgb(211, 223, 221);
}

.header-container {
  display: grid;
  grid-template-columns: 0.7fr 1fr 1fr;
  height: 5em;
  align-items: center;
}

.main-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}
.links-ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
.links-li,
.logo {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
.meme-canvas {
  justify-content: center;
}

.gallery-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  margin: 0 auto;

  max-width: 500px;
}

.image {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.image:hover {
  transform: scale(1.1);
}

.meme-toolbar {
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
  gap: 10px;
}

.button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #fcfcfd;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  height: 48px;
  padding: 0 32px;
  font-size: 18px;
  border-radius: 6px;
  color: #36395a;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}
.button:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  transform: translateY(-2px);
}
.button:active {
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
}

.button:hover {
  background-color: #f3f4f6;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}

.button-text-color {
  position: relative;
}

.button.button-text-color {
  position: absolute;
  width: 1.3em;
  opacity: 0;
}

.fa-palette{
  font-size: 2em;
}